extends ./layouts/main.jade

block content
  .col.s12
    .card.post
      .card-content
        h1
          a(href=content.getUrl()) #{content.title}
        .content !{content.htmlContent}
  div#comments

block scripts
  script.
    var id = "#{content.contentId}";
  script(src="#{global.jsRootPath}/content.js")
