extends ./layouts/main.jade

block content
  h3 Collection: #{category.belongsToCollection.id} Category: #{category.title} Page: #{page.pageNumber}
  .main-container
    each content, no in page.contents
      h1
        a(href=content.getUrl()) Post #{no} #{content.title}
      .content !{content.htmlContent}

  .navigation
    if !page.isFirstPage
      a(href=page.previousPageUrl) Page #{page.pageNumber - 1}
    if !page.isLastPage
      a(href=page.nextPageUrl) Page #{page.pageNumber + 1}
