extends ./layouts/main.jade

block content
  //h3 Collection: #{category.belongsToCollection.id} Category: #{category.title} Page: #{page.pageNumber}
  .row
    each content in page.contents
      .col.s12
        .card.post
          .card-content
            h1
              a(href=content.getUrl()) #{content.title}
            .content !{content.htmlExcerpt}
          .card-action
            a(href=content.getUrl()) Devamini Oku
  .row
    .col.s12
      .card.post
        .card-content
          ul.pagination
            if page.isFirstPage
              li.disabled
                a(href="#")
                  i.material-icons chevron_left
                  span Daha Yeni Yaz覺lar
            else
              li.waves-effect
                a(href=page.previousPageUrl)
                  i.material-icons chevron_left
                  span Daha Yeni Yaz覺lar

            if page.isLastPage
              li.disabled
                a(href="#")
                  span Daha Eski Yaz覺lar
                  i.material-icons chevron_right
            else
              li.waves-effect
                a(href=page.nextPageUrl)
                  span Daha Eski Yaz覺lar
                  i.material-icons chevron_right
