doctype html
html(lang="#{global.template.locale}")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="robots" content="noindex")
    meta(name="theme-color" content="#3F51B5")
    base(href="/")
    block title
      title #{global.template.siteName}
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic&lang=tr",
    rel="stylesheet", type="text/css")
    link(href="#{global.jsRootPath}/vendor/sidenav.css", rel="stylesheet", type="text/css")
    link(href="#{global.cssFilePath}", rel="stylesheet", type="text/css")
  body
    #backdrop
    block sidenav
      include ../partials/sidenav.jade
    #content
      block header
        include ../partials/header.jade

      block content

    include ../partials/firebase.jade
    script(src="#{global.jsRootPath}/vendor/sidenav.min.js")
    script(src="#{global.jsRootPath}/global.js")
    block scripts
    include ../partials/ganalytics
