article.card(id="content-#{content.contentId}")
  .card-contents
    .date #{content.createDate.locale(global.template.locale).format(global.template.dateFormat)}
    h1
      a(href=content.getUrl()) #{content.title}
    .content !{content.htmlContent}
    div#comments
