#sidenav
  .profile-section
    img.profile(src="#{global.imgRoot}/profile.jpg")
    h1.name #{global.template.authorName}
    h2.mini-bio #{global.template.authorShortBio}
  .navigation
    ul
      each categoryCode in (global.template.featuredCategories || [])
        -
          var paths = categoryCode.split("/");
          var category = global.collections
            .find(function(x) { return x.id === paths[0]; }).categories
            .find(function(x) { return x.id === paths[1]; });
          for (var i = 2; i < paths.length; i++)
            category = category.subCategories.find(function(x) { return x.id; });
        li
          a(href="#{category.paginatedContents[0].url}") #{category.title}
